// Typography
$family-primary: "Montserrat", sans-serif;

// Overwrite Bulma Colors
// $white: hsl(0, 0%, 100%);
// $black: hsl(0, 0%, 4%);
$light: #8D8D8F;
$dark: #303133;
$primary: #325fff;
$link: #50514F;
$info: #F25F5C;
$success: #00c700;
$grey: #c4c4c4;
// $warning: hsl(48, 100%, 67%);
// $danger: #F25F5C;

$twitter: #00aced;

